h1 {

    width: 95%;
    text-align: center;
    font-family: serif;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    background: aliceblue;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}


ul {
    padding:0;
}
body{
margin:0;
}

.element-link {
    color: red;
    list-style-type:none;
    padding: 10px 10px;
}

.element-link>a{
    text-decoration: none;
    color: gray;
}



.loading {
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    background: white;
    display: none;
    top: 0;
}

.loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-bottom-color: #009579;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

.cnt {
    overflow-y: auto;
}

.pagination {
    justify-content: center;
        margin-bottom: 9px;
    margin-top: 9px;
}

nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
}

.btnbt {
    position: sticky;
    left: 81%;
    bottom: 10px;
}